.body{
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw ;
    grid-template-rows: 10vh 20vh 20vh 20vh 20vh 10vh;
    grid-template-areas: 
    "nav nav nav nav"
    "habilidad1 habilidad1   habilidad2 habilidad2"
    "habilidad3 habilidad3   habilidad4 habilidad4"
    "habilidad5 habilidad5   habilidad6 habilidad6"
    "habilidad7 habilidad7    habilidad8 habilidad8"
    "footer footer footer footer";
}
.habilidad1{
    grid-area: habilidad1;
}
.habilidad2{
    grid-area: habilidad2;
}
.habilidad3{
    grid-area: habilidad3;
}
.habilidad4{
    grid-area: habilidad4;
}
.habilidad5{
    grid-area: habilidad5;
}
.habilidad6{
    grid-area: habilidad6;
}
.habilidad7{
    grid-area: habilidad7;
}
.habilidad8{
    grid-area: habilidad8;
}


.Aplicacion{
display: flex;
justify-content: start;
align-items: center;
}
.nav{
    font-size: 5vh;
    color:white;
    font-style :inherit;
    grid-area: nav;
    background-color: #3b5998 ;
    }
.expand{
    display: flex;
    justify-content: space-between; 
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    align-items:center; 
}
.nav  .link{
    font-size: 3vh;
    font-style:inherit;
    color: white;
    text-decoration: none;
    display: none;
}



.footer, .nav{
    display: flex;
    justify-content: space-between; 
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    align-items:center; 
    background-color: #3b5998 ; 
}

.footer{     
    grid-area: footer;
    }

.pantalla{
    grid-area: pantalla;
    background-color: rgb(224, 222, 222);
}
.footer .logo, .footer .link,.nav .logo{    
   height: 5vh;
}

.nav .icono{
    width: 10vh;
    height: 8vh;}

.barra{
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #3b5998;
    width: 75%;
    height:10%;
    background-color: #fafcff;
    animation: barras-Estado 10s infinite;

}

.barra[value]::-webkit-progress-bar {
  background-color: white;}

  
  progress[value]::-webkit-progress-value {
    background-color: #3b5998;;
  }
.habilidad1 , .habilidad2 , .habilidad3, .habilidad4, .habilidad5, .habilidad6, .habilidad7, .habilidad8{
        margin-top: 5%;
        margin-left: 5%;
        justify-content:center;
        align-items: center;
        
        
}
.letras{
    color:  #3b5998 ;
    font-size: 24px;
    font-style:inherit;
}


@media (min-width:768px) {
    .nav .menu{
        display:none;
    }
    .nav .expand .link{
        padding-left: 1vw;
        padding-right: 1vw;
        display:flex;
    }
    .nav .expand .link:hover{
        transition: color 0.3s linear;
        color: rgb(131, 129, 130);
        opacity: 30%;
    }
    .link{
        color: white;
        text-decoration: none;
    
    }
    
}
@keyframes barras-Estado {
    from{background-color:gray;
        color: #3b5998;
    opacity: 0%;}

    To{background-color: white;
        background-position: 55%;
        opacity: 75%;}    
    
}
